{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "@mocks/*": ["__mocks__/*"],
      "@domain/*": ["src/domain/*"],
      "@application/*": ["src/application/*"],
      "@infrastructure/*": ["src/infrastructure/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
